html{
    background-color: #f3f5f8;
}
.body{
    
    height:600px;
    width:455px;
    background-color: #121212;
    margin:auto;
    margin-top: 50px;
    border-radius: 5%;
    padding-top: 3px;
    
}
.body .screen{
    background-color: #5c5cdd;
    height: 85;
    width: 410;
    margin:auto;
    border-radius: 12%;
    padding-left: 10px;
}
.body button{
    height: 90px;
    width: 90;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
    align-content: center;
    gap:10px;
}
.body .long{
    width:184.5px;
}