html{
    background-color: #f3f5f8;
}
.body{
    
    height:600px;
    width:455px;
    background-color: #121212;
    margin:auto;
    margin-top: 50px;
    border-radius: 5%;
    padding-top: .2px;
    
}
.body .screen{
    background-color: #46896f;
    height: 85;
    width: 410;
    margin:auto;
    border-radius:5%;
    padding-left: 10px;
    margin-bottom: 10;
}
.body button{
    height: 90px;
    width: 90;
    border-radius: 15px;
    margin-left: 16.5;
    font-size: x-large;
    font-style:italic;
    justify-content: center;
    align-content: center;
    margin-bottom: 5;
    
}



.body .AC{
    background-color: #2e63b4;
}
.body .del{
    background-color: rgba(240, 57, 57, 0.741);
}

.body .long{
    width:199px;
}


button:hover {
  background-color: #0ff; 
  color: #000;
  box-shadow: 0 0 7px #0ff, 0 0 30px #0ff;
  transform: scale(1.03);
}
.screen:hover{
     background-color: rgb(22, 146, 80);
  color: #000;
  box-shadow: 0 0 7px #0ff, 0 0 30px #0ff;
  transform: scale(1.03); 
}
